
html {
  height: 100%;
}

    body {
      height: 100%;
      width: 100%;
      margin: 0;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    .gradient-text {
      background-image: linear-gradient(60deg, #E21143, #FFB03A);
      background-clip: text;
      color: transparent;
    }

    #grad1 {
      height: 100%;
      width: 100%;
      background-color: red;
      /* For browsers that do not support gradients */
      background-image: linear-gradient(to bottom right, green, blue, purple, red, grey);
    }

    h1.page-header {
      margin: 0;
      padding: 0;
    }

    h1 {
      font-size: 72px;
      line-height: 72px;
      background-image: linear-gradient(60deg, #E21143, #FFB03A);
      -webkit-text-fill-color: white;
    }

    p1 {
      font-size: 25px;
      line-height: auto;
      block-size: auto;
      display: block;
      background-image: linear-gradient(red, blue);
    }